.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    width: 100%;
    margin-bottom: 0.25rem
}

.form-control input,
.form-control textarea {
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}
  
button {
    font: inherit;
    color: #dbc441;
    cursor: pointer;
    border: 1px solid #7741db;
    background-color: white;
    border-radius: 2px;
}
  
button:hover,
button:active {
    color: white;
    background: #7741db;
}

